[Unit]
Description=MQTT System Monitor
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/mqtt-system-monitor

[Install]
WantedBy=multi-user.target
